body {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGElEQVQYV2NkQID/DAwMjCAumIACagkCAACfBQY+DKCVAAAAAElFTkSuQmCC)repeat;
}

.coloring{
    width:100%;
    height:30px;
    background-color:green;
}