################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/mahyar/v14/.suo
/mahyar/bin
/mahyar/obj/Debug
