body {
}

.logo {
    display: inline-block;

    .m {
        height: 200px;
        width: 20px;
        background-color: black;
        margin: 5px;
        float: left;
    }

    .first-m {
        width: 40px;
        transform: skewX(-25deg);
    }

    .second-m {
        transform: skewX(25deg);
        margin-left: 70px;
    }

    .third-m {
        transform: skewX(-25deg);
    }

    .fourth-m {
        transform: skewX(25deg);
        margin-left: 70px;
    }

    .fifth-m {
        height: 190px;
        margin-left: -34px;
        margin-top: 43px;
        transform: rotate(65deg) skewX(-25deg);
    }

    .polygon {
        border-bottom: 28px solid red;
        border-right: 13px solid transparent;
        border-left: 13px solid transparent;
        margin-left: 132px;
        position: absolute;
        bottom: 38px;
    }

    H1 {
        font-family: 'Mongolian Baiti';
        font-weight: 700;
        font-size: 35px;
        color: black;
        margin-left: -44px;
        top: 190px;
        position: absolute;
    }
}
