body {
  background-image: url('../images/wood _texture1584.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-area {
  margin-top: 200px;
}
.logo-area .logo {
  display: inline-block;
}
.logo-area .logo .m {
  height: 200px;
  width: 20px;
  background-color: black;
  margin: 5px;
  float: left;
}
.logo-area .logo .first-m {
  opacity: 0;
  width: 40px;
  position: relative;
  transform: skewX(-25deg);
  animation: top-right 0.4s ease forwards;
}
.logo-area .logo .second-m {
  opacity: 0;
  transform: skewX(25deg);
  margin-left: 70px;
  animation: down-right 0.4s ease forwards;
  animation-delay: .2s;
}
.logo-area .logo .third-m {
  opacity: 0;
  transform: skewX(-25deg);
  animation: top-right 0.4s ease forwards;
  animation-delay: .4s;
}
.logo-area .logo .fourth-m {
  opacity: 0;
  transform: skewX(25deg);
  margin-left: 70px;
  animation: down-right 0.4s ease forwards;
  animation-delay: .6s;
}
.logo-area .logo .fifth-m {
  opacity: 0;
  width: 190px;
  height: 20px !important;
  margin-left: -34px;
  margin-top: 43px;
  transform: skew(-25deg);
  animation: left-right;
  animation-fill-mode: forwards;
}
.logo-area .logo .polygon {
  border-bottom: 28px solid red;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  margin-left: 132px;
  position: absolute;
  bottom: 38px;
  opacity: 0;
  animation: polygonfade .8s;
  animation-delay: .9s;
  animation-fill-mode: forwards;
}
.logo-area .logo H1 {
  font-family: 'Mongolian Baiti';
  font-weight: 700;
  font-size: 35px;
  color: black;
  margin-left: -44px;
  top: 190px;
  position: absolute;
}
.square {
  width: 100em;
  height: 10%;
  background-color: green;
}
@keyframes top-right {
  from {
    transform: translate(-10px, 20px) skewX(-25deg);
  }
  to {
    transform: translate(0px, 0px) skewX(-25deg);
    opacity: 1;
  }
}
@keyframes down-right {
  from {
    transform: translate(-10px, -20px) skewX(25deg);
  }
  to {
    transform: translate(0px, 0px) skewX(25deg);
    opacity: 1;
  }
}
@keyframes left-right {
  from {
    opacity: 0;
    transform: translate(20px);
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes polygonfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}